.menu {
   display: flex;
   flex-direction: column;
   border: 1px solid lightgray;
}

.autoResponse {
   &__red,
   &__green {
      display: inline-block;
      padding: 0;
      margin: auto;
      text-align: right;
      font-size: 18px;
      cursor: pointer;
      transition: 400ms;
   }
   &__green {
      color: green;
      margin-left: 35px;
   }
   &__red {
      color: red;
      margin-left: 25px;
   }
}

.searchbar_container {
   display: flex;
   flex-direction: column;
   padding: 5px;
   font-size: 12px;
   background: #edf1f3;
   font-family: var(--inter);
   border: 1px solid lightgray;
   height: 12%;
   box-sizing: border-box;

   &__favourites {
      & > div {
         display: block;
         padding: 5px 10px;
         text-align: left;
         width: fit-content;
      }

      h3 {
         margin: 5px;
      }

      p {
         align-self: center;
         margin: auto;
         text-align: center;
      }
   }

   &__search_form {
      display: flex;
      box-sizing: border-box;
      width: 100%;
      padding-bottom: 12px;
      align-items: center;
      justify-content: center;
      gap: 10px;

      & > input {
         flex-basis: 40%;
         max-width: 70%;
         margin: 5px;
         border: 1px solid lightgray;
         border-radius: 15px;
         padding: 3px 10px;
      }

      & > button {
         outline: none;
         border: 1px solid lightgray;
         font-size: 12px;
         padding: 4px 15px;
         border-radius: 15px;
         &:active {
            outline: none !important;
            border-color: #8ba8c7;
            box-shadow: 0 0 3px 3px #7ca2a794;
         }
      }

      & > label {
         flex-basis: 10%;
         color: rgb(88, 88, 88);
         text-align: right;
      }
   }
}

.chats_container {
   display: block;
   width: fit-content;
   max-width: 80vw;
   height: 71vh;
   max-height: 71vh;
   box-sizing: border-box;

   min-height: 600px;
   position: relative;
   background: #fff;
   color: #000;
   border: 1px solid lightgray;
   overflow: hidden;

   &::-webkit-scrollbar {
      display: none;
   }

   &__heading {
      padding: 5px 10px;
      margin: 10px 5px;
      color: lightblue;
      font-family: var(--montserrat);
      font-weight: 600;
      font-size: 24px;
      line-height: 38px;
      height: 50px;
      & > img {
         margin-bottom: -5px;
      }
      i {
         color: #000;
         font-style: normal;
         font-size: 16px;
         margin: 0 0 0 20px;
      }
   }
}

.chats_list {
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   width: 600px;
   max-width: 600px;
   height: calc(100% - 50px);
   overflow-y: scroll;

   margin: 0;
   list-style-type: none;

   top: 0;
   left: 0;
   padding-bottom: 184px;
   background: #edf1f3;

   &::-webkit-scrollbar {
      display: none;
   }

   &__item {
      position: relative;
      display: flex;
      align-items: center;
      margin: 2px 0;
      padding: 8px 8px;
      list-style-type: none;
      margin-left: -40px;
      min-height: 60px;
      cursor: pointer;
      border: 4px solid transparent;
      background: #fff;
      box-sizing: content-box;
      gap: 1rem;

      &_icon {
         width: 40px;
      }
      &_content {
         text-align: left;
         width: auto;
      }

      &.selected {
         background: #8ba8c7;
         p,
         span {
            color: #fff;
         }
      }
   }

   &__chat {
      &_name {
         font-family: var(--montserrat);
         font-weight: 600;
         color: gray;
         margin: 0;
      }
      &_last_text,
      &_last_date {
         font-size: 12px;
         margin: 5px 0;
      }

      &_last_text {
         font-family: var(--inter);
         color: grey;
         opacity: 0.9;
      }

      &_last_date {
         position: absolute;
         right: 10px;
         color: rgba(0, 0, 0, 0.549);
         top: 3px;
      }

      &_image {
      }
      &_notifier {
      }
   }

   &__icon_edit,
   &__icon_delete {
      border-radius: 50%;
      padding: 2px 6px;
      &:hover {
         transform: scale(1.3);
      }
      &:active {
         box-shadow: 0px 0px 3px 3px #5252525e;
      }
   }

   &__buttons_edit {
      position: absolute;
      right: 10px;
      bottom: 2px;
      transition: 300ms;
      display: flex;
   }
}

.chats__button_add {
   position: absolute;
   width: 50px;
   height: 50px;
   right: 10%;
   bottom: 10%;
   cursor: pointer;
   border: 0;
   border-radius: 10px;
   background: #a1bcda;
   text-align: center;
   padding: 0;
   box-sizing: border-box;
   &:active {
      background: #8ba8c7;
   }
}
